.articulos{
    text-align: center;
    float: left;
    background-color: antiquewhite;
    width: 60%;
    margin: 16px  0 18px;
   
}

.secundario{
    margin: 16px 0 16px;
    text-indent:1em;
    float: right;
    width: 29%;
    background-color: beige;
}

.margen{
    padding: 5px;
   
}
.lista {
    list-style: none;    
}

.ul1{
    
    list-style: none;/*saca los puntitos*/
    /*display: inline-flex; alinear horizontalmente*/
    text-align: center;
    }
.submenu{
    display: inline-block;
    margin-left: 20px;
   
    }
 a{
    text-decoration: none;
    }
.pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
    }

#menu {
    background: #CCCCCC;
    padding: 1px;
    text-align: center;
    }
#principal {
    
    text-align: center;
  
   }
    
.contenedor {
    background: #b9fffb;
    border: 1px solid #999999;
    padding: 0 20px 35px 5px;
}


.encabezado{
    text-align: center;
    margin: 40px 80px 16px 85px;
    font-style: italic;
    
}

.foto1 { 
    width: 100px;
    height: 100px;
    margin: 11px;
    margin-left: 1px;
    border: 2px solid black; 
    float: left; 
     }
.foto { 
    
        border: 2px solid black; 
         
        }
.foto5 { 
    
        border: 2px solid black; 
        
        }
        
.foto2 { 
    
    margin: 29px 80px 16px 25px;
    border: 2px solid black; 
    float: left; 
    }


#agrupar {
    width: 90%;
    margin: 15px auto;
    text-align: left;
    }

@media screen and (max-width: 1200px) { 
   
    .foto1{
            display: none;
        }
    .foto{
            display: none;
        }
    

       
    }
@media screen and (min-width: 1201px) {
    
    .foto2{
        display: none;
       
    }
    .foto5{
        display: none;
       
       
    } }

a:hover{
    color: rgb(238, 59, 160);
    background:#0b0b0b;
border:0.1em dashed #F60;
border-radius: 0 0.5em 0 0.5em;
transition: all 3s ease-in;
}
a:visited{
    color: rgb(48, 186, 57);
}
a:active{
    color: rgb(182, 87, 24);
}
a:link{
    color: rgb(85, 39, 235);
}
